* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Romanesco", cursive;
}

.titulo-principal {
  text-align: center;
  font-size: 5rem;
  margin-top: 5rem;
}

.carrito {
  width: 3rem;
  height: 3rem;
}

.imagen-rome {
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.subtitulos-compras {
  font-size: 4rem;
  padding-left: 0.8em;
}

.cards__gral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#carrito__container,
#total__container {
  margin: 0.3rem 1rem;
  font-size: 2.5rem;
}

#btn__recuperarCarrito {
  font-size: 1.5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btnDelete {
  text-decoration: none;
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 1rem;
}

.btnDelete:hover {
  cursor: pointer;
}

.notification {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: 2.5rem;
  right: 0.1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#btn__pagar {
  width: 50%;
  margin: 1rem auto 0 auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.modal {
  width: 45%;
  top: 20%;
  left: 15%;
  z-index: 1000;
}

.modal-contenido {
  height: 30rem;
  overflow: scroll;
  z-index: 1100;
}

.close__payment {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  margin: 0 0 0.3rem 0.3rem;
  cursor: pointer;
  display: inline-block;
}

.montoAPagar {
  background-color: #198754;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding: 0.8rem 0 0.8rem 0;
  color: white;
}

.container {
  width: 90%;
  border-radius: 5px;
  border: 1px solid #95A5A6;
  color: #515751;
  -webkit-box-shadow: 4px 4px 6px 0px rgba(149, 165, 166, 0.75);
  box-shadow: 4px 4px 6px 0px rgba(149, 165, 166, 0.75);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  color: #515751;
  margin: 0;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: normal;
}

.form-top {
  padding-top: 20px;
  text-align: left;
}

.input-hide {
  float: right;
  cursor: pointer;
}

select.form-control:hover {
  background: #F8F9F9;
}

option select.form-control :hover {
  background: #F8F9F9;
}

input {
  font-size: 18px;
  color: #4b6cb7;
  background-color: #f7f7f7;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

.form-control {
  color: #515751;
}

.form-control:focus {
  border: 3px solid #2ECC71;
}

#pay-now {
  font-size: 20px;
  color: #f7f7f7;
  background-color: #2ECC71;
  width: 100%;
  padding: 13px 13px 13px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0);
}

#pay-now a {
  text-decoration: none;
  color: #4b6cb7;
}

#pay-now:hover {
  color: #f7f7f7;
  background: #27AE60;
  outline: none;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}