* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Romanesco", cursive;
}

.titulo-principal {
  text-align: center;
  font-size: 5rem;
  margin-top: 5rem;
}

.carrito {
  width: 3rem;
  height: 3rem;
}

.imagen-rome {
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.subtitulos-compras {
  font-size: 4rem;
  padding-left: 0.8em;
}

.cards__gral {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#carrito__container,
#total__container {
  margin: 0.3rem 1rem;
  font-size: 2.5rem;
}

#btn__recuperarCarrito {
  font-size: 1.5rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.btnDelete {
  text-decoration: none;
  color: red;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 1rem;
}

.btnDelete:hover {
  cursor: pointer;
}

.notification {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: 2.5rem;
  right: 0.1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}